<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card-panel white z-depth-3">
      <h2 class="center">Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render 'shared/devisemes' %>

          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="card-action">
            <%= button_tag(type: 'submit', class: "waves-effect waves-light btn light-green darken-4") do %>
                <i class="mdi-action-settings left"></i> Update
            <% end %>
          </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to '<i class="mdi-alert-warning left"></i>Cancel my account<i class="mdi-alert-warning right"></i> '.html_safe, registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "waves-effect waves-light btn red white-text" %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>