<h2 class="center">Sign up</h2>
<div class="center">
  <%= link_to '<i class="fa fa-facebook-square left"></i>Sign Up with Facebook'.html_safe, user_omniauth_authorize_path(:facebook), class: "waves-effect waves-light btn light-blue darken-4" %>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render 'shared/devisemes' %>

    <div class="input-field">
      <i class="material-icons prefix">person</i>
      <%= f.label :name, "Your Name" %>
      <%= f.text_field :name, autofocus: true, class: "validate" %>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">email</i>
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: "validate" %>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">security</i>
      <%= f.label :password, "Password" %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">security</i>
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="card-action">
      <%= button_tag(type: 'submit', class: "waves-effect waves-light btn light-green darken-4") do %>
          <i class="material-icons left">person_add</i> Sign Up
      <% end %>
    </div>
<% end %>