<div class="section white">
  <div class="row container">
    <h4 class="light center">Contact Us!</h4>
    <div class="col s12 m6">
      <div class="card-panel white z-depth-3">
        <%= form_tag(contact_us_path) do %>
            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <%= label_tag 'email', 'Your Email' %>
              <%= email_field_tag 'email', nil, class: 'validate' %>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">mode_comment</i>
              <%= label_tag 'body', 'Message...' %>
              <%= text_area_tag 'body', nil, class: 'materialize-textarea validate', rows: 2 %>
            </div>
            <div class="center">
            <%= button_tag(type: 'submit', class: "waves-effect waves-light btn light-green darken-4") do %>
                Send Email<i class="material-icons right">send</i>
            <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel white z-depth-3">
        <p><a href="tel:+923347973848"><i class="fa fa-phone-square fa-2x left"></i>+92-334-7973848</a></p>
        <p><a href="mailto:paultraders@outlook.com" target="_top"><i class="fa fa-envelope-o fa-2x left"></i>paultraders@outlook.com</a></p>
        <p><a href="https://www.facebook.com/pages/Paul-Walker-Traders-Pakistan/947786915252003?fref=ts" target="_blank"><i class="fa fa-facebook-square fa-2x left"></i>Facebook Page</a></p>
      </div>
    </div>
  </div>
</div>