<div class="parallax-container">
  <div class="parallax"><%= image_tag "cars1.jpg" %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header"><i class="material-icons medium left">directions_car</i> Paul Trade</h2>
    <p class="grey-text text-darken-3 lighten-3">A website to buy used and new cars with affordable and easy money and procedures.</p>
  </div>
  <div class="row container">
    <h4 class="light">See our latest available cars here!</h4>
    <%= render @posts %>
    <div class="center"><%= link_to '<i class="material-icons left">local_library</i>See latest cars here'.html_safe, posts_path, class: "waves-effect waves-light btn green btn-large" %></div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "cars2.jpg" %></div>
</div>
<%= render 'contact' %>