<div class="parallax-container">
  <div class="parallax"><%= image_tag "cars1.jpg" %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header"><i class="material-icons medium left">directions_car</i> Paul Trade</h2>
    <div class="right"><%= link_to '<i class="material-icons left">local_library</i>See latest cars here'.html_safe, posts_path, class: "waves-effect waves-light btn green" %></div>
    <p class="grey-text text-darken-3 lighten-3">A website to buy used and new cars with affordable and easy money and procedures.</p>
  </div>
  <div class="row container">
    <h4 class="light">Log In or Sign Up for <strong>FREE</strong> to buy cars!</h4>
    <div class="col s12 m6">
      <div class="card-panel white z-depth-3">
        <%= render "devise/shared/login" %>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel white z-depth-3">
        <%= render "devise/shared/signup" %>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "cars2.jpg" %></div>
</div>
<%= render 'contact' %>