<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card-panel white z-depth-5">
        <div class="card-content center">
          <h4><%= @post.title %></h4>
          <p>
            <%= link_to "<i class='material-icons left'>thumb_up</i>#{@post.get_upvotes.size}".html_safe,like_post_path(@post), method: :put, class:"waves-effect waves-light btn green" %>
            <%= link_to "<i class='material-icons left'>thumb_down</i>#{@post.get_downvotes.size}".html_safe,unlike_post_path(@post), method: :put, class:"waves-effect waves-light btn red" %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <%= render 'photos' %>
    </div>
    <div class="col s12 m6">
      <div class="card-panel white z-depth-3">
        <div class="card-content">
          <%= raw(@post.content) %>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel white z-depth-3">
        <div class="card-content">
          <h5 class="center">Comments<span class="badge" id="comments-size">(<%= @comments.size %> Comments)</span></h5>
          <%= render 'comments' %>
          <% if user_signed_in? %>
            <%= render 'comments/form' %>
          <% else %>
              <%= link_to root_path do %>
              <div class="card-panel white z-depth-2">
                <p class="red-text center"> Please <strong>Log In / Sign Up</strong> to Comment!</p>
              </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>