<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag "favicon.ico" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>Paul Trade</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<%= render 'shared/header' %>
<main>
  <%= render 'shared/toastr' %>
  <%= yield %>
</main>
<%= render 'shared/footer' %>
</body>
</html>
